#pageDecompte{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  sans-serif;
    background-image: linear-gradient(120deg, #0d1c40 0%, rgb(21, 0, 128) 100%);
}


#chrono{
  text-align: center;  
  font-size: 1rem;
  margin-bottom: 30px;
  color:#afbbcf;
}

#buttonChrono{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    width: 7rem;
    height: 7rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    
}

#buttonREtour{
    background-color:#FEB601 ;
    color: #080f1f;
}
