#choixActivite {
  color: #AAA6DC;
  display: flex;
  justify-content: center;
  font-family: "Arial";
  font-weight:lighter;
  font-size: 1.5rem;
}

.icon {
  display: flex;
  flex-direction: row;
  padding-top: 2rem; 
  padding-right: 4.5rem;
}


.textIcons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Arial";
  color: #AAA6DC;
  font-weight:lighter;
  font-size: 1rem;
  padding-right: 5rem;
  /* color: #b5c9eb; */
}

#textDevoirs{
padding-left: 3.2rem;
}

#textFilms{
padding-right: 1rem;
}

#icon_devoirs {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

#icon_lecture {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

#icon_jeux {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

#icon_youtube {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

#icon_cinema {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  padding-left: 1rem;
}

/* #film{
  padding-left: 2rem;
  padding-right: 4rem;
} */
  

#sablierCenter {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
}

#icon_horloge {
  width: 2rem;
  height: 2rem;
  
}






