#choixActivite {
  color: #abc6f6;
  display: flex;
  justify-content: center;
  font-family: "Bona Nova", serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

.icon {
  display: flex;
  justify-content: flex-start;
  padding-top: 3rem;
  padding-right: 5rem;
  
}

#icon_devoirs {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

#icon_lecture {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

#icon_jeux {
  width: 5rem;
  height: 5rem;
  padding-right: 1rem;
  cursor: pointer;
}

#icon_youtube {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

#icon_cinema {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  padding-left: 1.5rem;
}

#sablierCenter {
  display: flex;
  justify-content: flex-end;
}

#icon_sablier {
  width: 2rem;
  height: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

#textIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #feb601;
  padding-bottom: 3rem;
  padding-right: 5.5rem;
  padding-left: 3.5rem;
  font-weight: 500;
  font-size: 1rem;
}

#film{
padding-left: 2rem;
padding-right: 4rem;
}